.bcolor{
    background-color: blue;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
#main-head{
    height: calc(100vh - 56px);
    background-image: url("Auction1.jpeg");
    background-size: cover;
}